/* Bootstrap 5 Datatables surrounding elements */
/* Adjust the padding and positioning of the pagination */
.dataTables_wrapper .dataTables_paginate {
    padding: 10px 0;
}

/* Adjust the padding and positioning of the length menu */
.dataTables_wrapper .dataTables_length {
    padding: 10px;
}

/* Adjust the padding and positioning of the info */
.dataTables_wrapper .dataTables_info {
    padding: 10px;
}

/* table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:before {
    right: 2em;
    font-family: 'Bootstrap-icons';
    content: '\F237';
}

table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:after {
    font-family: 'Bootstrap-icons';
    content: '\F22B';
} */

table {
    word-break: break-word;
}
