{% extends "base.html" %}

{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="container fluid">
        <div class="row g-4 p-4">
            <h2 class="text-center">Login</h2>
            <form method="post" class="row">
                {% csrf_token %}
                <div class="col-sm-12 p-2">
                    {{ form.username.label_tag }} {{ form.username.errors }}{{ form.username }} {{ form.username.help_text }}
                </div>
                <div class="col-sm-12 p-2">
                    {{ form.password.label_tag }} {{ form.password.errors }}{{ form.password }} {{ form.password.help_text }}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}
