{% extends "base.html" %}

{% block title %}
    Account Signup
{% endblock title %}
{% block content %}
    <div class="container fluid">
        <div class="row g-4 p-4">
            <h2 class="text-center">
                Create an account
                {% if invitation_token %}with {{ team }}{% endif %}
            </h2>
            <form method="post" class="row g-4">
                {% csrf_token %}
                <div class="col-md-12">
                    {{ form.username.label_tag }}
                    {{ form.username.errors }}
                    {{ form.username }}
                    {{ form.username.help_text }}
                </div>
                <div class="col-md-6">
                    {{ form.password.label_tag }}
                    {{ form.password.errors }}
                    {{ form.password }}
                    {{ form.password.help_text }}
                </div>
                <div class="col-md-6">
                    {{ form.password_confirmation.label_tag }}
                    {{ form.password_confirmation.errors }}
                    {{ form.password_confirmation }}
                    {{ form.password_confirmation.help_text }}
                </div>
                {% if not invitation_token %}
                    <div class="col-md-12">
                        <label for="{{ form.team_name.id_for_label }}">Team name:</label>
                        {{ form.team_name.errors }}
                        {{ form.team_name }}
                        {{ form.team_name.help_text }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock content %}
