{% extends "base.html" %}

{% block title %}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <h2>Team Invitation</h2>
        <p>Share the following link to invite users to join the team "{{ team.name }}":</p>
        <a href="{{ invitation_link }}">{{ invitation_link }}</a>
    </div>
{% endblock content %}
