{% extends "base.html" %}

{% block title %}
    Team Invites
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row g-2 align-items-start ">
            <div class="col p-4 text-center">
                <h2>Team Invites</h2>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col p-3">
                    <div class="table-responsive">
                        <table class="table table-light table-striped table-hover sortable-table">
                            <thead class="text-center">
                                <tr>
                                    <th class="table-primary">Team Name</th>
                                    <th class="table-primary">Invitation URL</th>
                                    <th class="table-primary">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for invitation in invitations %}
                                    <tr>
                                        <td>{{ invitation.team.name }}</td>
                                        <td>
                                            <span id="invitation-url-{{ forloop.counter }}">{{ request.scheme }}://{{ request.get_host }}/accounts/signup/{{ invitation.token }}</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary"
                                                    onclick="copyToClipboard({{ forloop.counter }})">
                                                Copy Invite URL
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
    function copyToClipboard(counter) {
        const urlElement = document.getElementById(`invitation-url-${counter}`);
        const textarea = document.createElement('textarea');
        textarea.value = urlElement.textContent;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
        alert('Invitation URL copied to your clipboard');
    }
    </script>
{% endblock extra_js %}
