{% extends 'base.html' %}

{% block title %}
    My Teams
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row g-4 align-items-start ">
            <div class="col p-4 ">
                <h2>My Teams</h2>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col p-3">
                    <div class="table-responsive">
                        <table class="table table-light table-striped table-hover sortable-table">
                            <thead class="text-center">
                                <tr>
                                    <th class="table-primary">Team Name</th>
                                    <th class="table-primary">Owner</th>
                                    <th class="table-primary">Manage Members</th>
                                    <th class="table-primary">Reassignment</th>
                                    <th class="table-primary">Create Invite</th>
                                    <!-- New column header -->
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for team in teams %}
                                    <tr>
                                        <td>{{ team.name }}</td>
                                        <td>{{ team.owner.username }}</td>
                                        {% if team.owner.username == user.username %}
                                            <td>
                                                <a href="{% url 'team_members' team.id %}"
                                                   class="btn btn-outline-success">View Members</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'reassign_team_owner' team.id %}"
                                                   class="btn btn-outline-warning">Assign Owner</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'team_invitation' team.id %}"
                                                   class="btn btn-outline-primary">Create Invite</a>
                                            </td>
                                            <!-- New column cell with create invite link -->
                                        {% else %}
                                            <td>Contact {{ team.owner.username }}</td>
                                            <td>Contact {{ team.owner.username }}</td>
                                            <td>Contact {{ team.owner.username }}</td>
                                            <!-- Empty cell for non-owners -->
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <td>
                                    <a href="{% url 'create_team' %}">Create a new team</a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
