{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row g-4 align-items-start ">
            <div class="col p-4 text-center">
                <h2>Remove {{ user_to_remove.username }} from {{ team.name }}?</h2>
            </div>
            <p>Select a reassignment option for their tasks:</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="reassign_option"
                           id="single"
                           value="single"
                           checked>
                    <label class="form-check-label" for="single">Reassign all tasks to one user</label>
                </div>
                <div class="form-group">
                    <label for="new_assignee">New Assignee</label>
                    <select class="form-select" id="new_assignee" name="new_assignee">
                        {% for member in other_members %}<option value="{{ member.id }}">{{ member.username }}</option>{% endfor %}
                    </select>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input"
                           type="radio"
                           name="reassign_option"
                           id="individual"
                           value="individual">
                    <label class="form-check-label" for="individual">Reassign tasks individually</label>
                </div>
                <table class="table table-light table-striped table-hover sortable-table">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>New Assignee</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks_to_reassign %}
                            <tr>
                                <td>{{ task.title }}</td>
                                <td>
                                    <input type="hidden" name="task_id" value="{{ task.id }}">
                                    <select class="form-select"
                                            id="new_assignee_{{ task.id }}"
                                            name="new_assignee_{{ task.id }}">
                                        {% for member in other_members %}<option value="{{ member.id }}">{{ member.username }}</option>{% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if tasks_to_reassign.count == 0 %}
                    <div class="alert alert-info">No tasks to reassign.</div>
                    <button type="submit" class="btn btn-danger mt-3">Remove Member</button>
                {% else %}
                    <button type="submit" class="btn btn-danger mt-3">Remove Member and Reassign Tasks</button>
                {% endif %}
                <a href="{% url 'team_members' team_id=team.id %}"
                   class="btn btn-secondary mt-3">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
