{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row g-4 align-items-start ">
            <div class="col p-4 text-center">
                <h2>Team Members</h2>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col p-3">
                    <div class="table-responsive">
                        <table class="table table-light table-striped table-hover sortable-table">
                            <thead class="text-center">
                                <tr>
                                    <th class="table-primary">Username</th>
                                    <th class="table-primary">Email</th>
                                    <th class="table-primary">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for member in members %}
                                    <tr>
                                        <td>{{ member.username }}</td>
                                        <td>{{ member.email }}</td>
                                        <td>
                                            <a href="{% url 'remove_member' teams.id member.id %}"
                                               class="btn btn-danger">Remove</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="text-start">
                                <td>
                                    <a href="{% url 'list_invitations' %}">Manage Invites</a>
                                </td>
                                <td></td>
                                <td></td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
