{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'favicon.ico' %}" />
        {# Load the tag library #}
        {% load bootstrap5 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        <link rel="stylesheet"
              href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
        {% bootstrap_javascript %}
        <!-- Bootsrap Icons CDN -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <!-- Bootstrap Popper JS for tooltips -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <!-- Load DataTables and its Bootstrap plugin -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <!-- My custom stylesheet -->
        <link rel="stylesheet" href="{% static 'css/todoit.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar sticky-top">
                <div class="container-lg">
                <a class="nav-link" aria-current="page" href="{% url 'list_projects' %}"><i class="bi bi-list-check"></i>
            ToDoIt</a>
            <ul class="nav nav-pills nav-fill">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown dropdown-">
                        <a class="nav-link active dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Create</a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="dropdown-item" href="{% url 'create_project' %}">Create Project</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'create_project_category' %}">Create Project Category</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'create_task' %}">Create Task</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'create_task_status' %}">Create Task Status</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">My Stuff</a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="dropdown-item" href="{% url 'show_my_tasks' %}">My tasks <span class="badge badge-pill badge-success">{{ tasks.all|length }}</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'list_projects' %}">My projects <span class="badge badge-pill badge-success">{{ projects.all|length }}</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Settings</a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="dropdown-item" href="{% url 'list_teams' %}">View My Teams</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'create_team' %}">Create Team</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'list_invitations' %}">Manage Team Invites</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock content %}
</main>
<footer>
</footer>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
<script>
    const entryLabel = "{{ entry_label }}";
    const languageOptions = {
        "paginate": {
            "previous": "Previous ",
            "next": " Next",
        },
        "lengthMenu": "Showing _MENU_ " + entryLabel,
        "info": "Showing _START_ to _END_ of _TOTAL_ " + entryLabel,
    };

    function initializeDataTable() {
        $(".sortable-table").DataTable({
            "pageLength": 10,
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"],
            ],
            "language": languageOptions,
            "pagingType": "full_numbers",
            "ordering": true,
            "destroy": true, // Add this line to allow re-initialization
        });
    }

    function showToast(message) {
        var toastEl = document.getElementById('toast');
        var toast = new bootstrap.Toast(toastEl);
        toastEl.querySelector('.toast-body').innerText = message;
        toast.show();
    }
</script>
<script>
    $(document).ready(function () {
        initializeDataTable();
    });
</script>
{% block extra_js %}
{% endblock extra_js %}
{% block toast_messages %}
{% endblock toast_messages %}
</body>
</html>
