{% extends 'base.html' %}

{% block title %}
    Create a new task
{% endblock title %}
{% block content %}
    <div class="container fluid">
        <div class="row p-4 g-4 text-center">
            <h1>Create a new task</h1>
        </div>
        <div class="row p-4 g-4">
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock content %}
