{% extends "base.html" %}

{% load humanize %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <div class="my-tasks-list">
        <div class="container-fluid">
            <div class="row g-4 align-items-start text-center">
                <div class="col p-4">
                    <h2 class="h2">
                        <i class="bi bi-check2-square"></i> {{ user|title }}'s  Tasks
                    </h2>
                </div>
            </div>
            <div class="row g-2">
                <div class="col p-3">
                    <div class="table-responsive">
                        {% if tasks.all|length > 0 %}
                            <table class="table table-light table-striped table-hover sortable-table">
                                <thead class="text-center">
                                    <tr>
                                        <th class="table-primary">Name</th>
                                        <th class="table-primary">Project</th>
                                        <th class="table-primary">Start</th>
                                        <th class="table-primary">Due</th>
                                        <th class="table-primary">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tasks in tasks.all %}
                                        <tr class="text-start">
                                            <td>
                                                {{ tasks.name }} <a href="{% url 'update_task' tasks.id %}"><i class="bi bi-pencil-square"></i></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'show_project' tasks.project.pk %}">{{ tasks.project }}</a>
                                            </td>
                                            <td class="muted"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="bottom"
                                                data-bs-title="{{ tasks.start_date|naturaltime }}">
                                                {{ tasks.start_date|date:'m/d/y' }} at <span class="text-capitalize">{{ tasks.start_date|date:'P' }}</span>
                                            </td>
                                            <td class="muted"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="bottom"
                                                data-bs-title="{{ tasks.due_date|naturaltime }}">
                                                {{ tasks.due_date|date:'m/d/y' }} at <span class="text-capitalize">{{ tasks.due_date|date:'P' }}</span>
                                            </td>
                                            <td>
                                                {{ tasks.status.name }}
                                                <a href="{% url 'update_task_status' tasks.id %}"><i class="bi bi-pencil-square"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot class="text-start text-center">
                                    <td>Total Tasks: {{ tasks.all|length }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {% if remaining_count > 0 %}
                                            {{ remaining_count }} remaining
                                        {% else %}
                                            {{ remaining_count }} remaining
                                            {{ remaining_count }} remaining
                                        {% endif %}
                                    </td>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row g-2">
                            <div class="col p-2">
                                <h3 class="h3">Tasks Progress</h3>
                            </div>
                        </div>
                        <div class="row g-2 align-items-center">
                            <div class="col p-2">
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{ progress_rounded }}%"
                                         aria-valuenow="{{ progress_rounded }}%"
                                         aria-valuemin="0%"
                                         aria-valuemax="100%">{{ progress_rounded }}% done</div>
                                    <div class="progress-bar  bg-warning"
                                         role="progressbar"
                                         style="width:{{ remaining_rounded }}%"
                                         aria-valuenow="{{ remaining_rounded }}%"
                                         aria-valuemin="0%"
                                         aria-valuemax="100%">{{ remaining_rounded }}% remaining</div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col p-3">
                            <div class="alert alert-primary" role="alert">
                                <h4 class="h4">You have no tasks.</h4>
                                <div class="col p-3">
                                    <a href="{% url 'create_task' %}">
                                        <button type="button" class="btn btn-success">Create a new task</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
