{% extends 'base.html' %}

{% block title %}
    Change task status
{% endblock title %}
{% block content %}
    <div class="container fluid">
        <h2>Change Task Status</h2>
        <form method="post" action="{% url 'update_task_status' task_id=task.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock content %}
