{% extends 'base.html' %}

{% block title %}
    Update Task
{% endblock title %}
{% block content %}
    <div class="container fluid">
        <div class="row p-4 g-4 text-center">
            <h2>Update Task</h2>
        </div>
        <div class="row p-4 g-4">
            {% comment %} action value to the update_task view upon submission {% endcomment %}
            <form method="post" action="{% url 'update_task' task_id=task.id %}">
                {% csrf_token %}
                {% comment %} Hidden field to capture the referer from the headers {% endcomment %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
{% endblock content %}
