{% extends 'base.html' %}

{% block title %}
    Create a new project
{% endblock title %}
{% block content %}
    <div class="container fluid">
        <h2>Create a new project</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock content %}
