{% extends "base.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <div class="project-list">
        <div class="container-fluid">
            <div class="row g-4 align-items-start text-center">
                <div class="col p-4">
                    <h2 class="h2">{{ user|title }}'s Projects</h2>
                </div>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col p-3">
                    <div class="table-responsive">
                        {% if projects.count > 0 %}
                            <table id="projectsTable"
                                   class="table table-light table-striped table-hover sortable-table">
                                <thead class="text-center">
                                    <tr>
                                        <th class="table-primary">Name</th>
                                        <th class="table-primary">Category</th>
                                        <th class="table-primary">Progress</th>
                                        <th class="table-primary">Project tasks</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {% for project in projects %}
                                        <tr>
                                            <td class="text-start">
                                                <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a> |
                                                <a href="{% url 'update_project' project.id %}"><i class="bi bi-pencil-square"></i></a>
                                            </td>
                                            <td>
                                                {{ project.category }} |
                                                <a href="{% url 'update_project' project.id %}"><i class="bi bi-pencil-square"></i></a>
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success"
                                                         role="progressbar"
                                                         style="width: {{ project.progress_percentage }}%"
                                                         aria-valuenow="{{ project.progress_percentage }}"
                                                         aria-valuemin="0%"
                                                         aria-valuemax="100%">
                                                        {{ project.progress_percentage }}% done
                                                    </div>
                                                    <div class="progress-bar bg-warning"
                                                         role="progressbar"
                                                         style="width: {{ project.remaining_percentage }}%"
                                                         aria-valuenow="{{ project.remaining_percentage }}"
                                                         aria-valuemin="0%"
                                                         aria-valuemax="100%">
                                                        {{ project.remaining_percentage }}% remaining
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ project.tasks.all|length }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot class="text-center">
                                    <td>{{ projects.all|length }} projects</td>
                                    <td>{{ num_categories }} categories</td>
                                    <td>{{ overall_progress_percentage }}% Done across all projects</td>
                                    <td>{{ tasks.all|length }} tasks</td>
                                </tfoot>
                            </table>
                        {% else %}
                            <div class="alert alert-primary" role="alert">
                                <p>You are not assigned to any projects</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block toast_messages %}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
            <div id="toast"
                 class="toast"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Notification</strong>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
                <div class="toast-body"></div>
            </div>
        </div>
    {% endblock toast_messages %}
{% endblock content %}
