{% extends "base.html" %}

{% load humanize %}

{% block title %}
    {{ project.name }}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row p-4 g-2 text-start">
            <div class="col-auto p-2 ">
                <h1>
                    {{ project.name }} <a href="{% url 'update_project' project.id %}"><i class="bi bi-pencil-square"></i></a>
                </h1>
            </div>
        </div>
        <div class="project-detail">
            <div class="container-fluid">
                <div class="row g-4 align-items-start">
                    <div class="col-6 p-4">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                        Category: {{ project.category }} | Project Description
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne"
                                     class="accordion-collapse collapse show"
                                     aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body text-center">
                                        <p>{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-4">
                        {% if project.tasks.all|length > 0 %}
                            <div>
                                <div class="row g-2">
                                    <div class="col p-2 text-center">
                                        <h4>
                                            <i class="bi bi-ui-checks"></i> Project Progress
                                        </h4>
                                    </div>
                                </div>
                                <div class="row g-2 align-items-center">
                                    <div class="col p-2">
                                        <div class="progress">
                                            <div class="progress-bar bg-success"
                                                 role="progressbar"
                                                 style="width: {{ total_progress_percentage }}%"
                                                 aria-valuenow="{{ total_progress_percentage }}%"
                                                 aria-valuemin="0%"
                                                 aria-valuemax="100%">{{ total_progress_percentage }}% done</div>
                                            <div class="progress-bar bg-warning"
                                                 role="progressbar"
                                                 style="width:{{ total_remaining_percentage }}%"
                                                 aria-valuenow="{{ total_remaining_percentage }}%"
                                                 aria-valuemin="0%"
                                                 aria-valuemax="100%">{{ total_remaining_percentage }}% remaining</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row g-2 align-items-center">
                        <div class="col p-3">
                            <div class="table-responsive">
                                {% if project.tasks.all|length > 0 %}
                                    <div class="accordion" id="taskAccordion">
                                        {% for category, tasks in tasks_by_category.items %}
                                            {% if category %}
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                                        <button class="accordion-button"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapse{{ forloop.counter }}"
                                                                aria-expanded="true"
                                                                aria-controls="collapse{{ forloop.counter }}">
                                                            {{ category }}
                                                        </button>
                                                    </h2>
                                                    <div id="collapse{{ forloop.counter }}"
                                                         class="accordion-collapse collapse show"
                                                         aria-labelledby="heading{{ forloop.counter }}">
                                                        <div class="accordion-body">
                                                            <table class="table table-light table-striped table-hover table-responsive sortable-table">
                                                                <thead class="text-center">
                                                                    <tr>
                                                                        <th class="table-primary">Name</th>
                                                                        <th class="table-primary">Assignee</th>
                                                                        <th class="table-primary">Start</th>
                                                                        <th class="table-primary">Due</th>
                                                                        <th class="table-primary">Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for task in tasks %}
                                                                        <tr class="text-center">
                                                                            <td class="text-start">
                                                                                {{ task.name }} <a href="{% url 'update_task' task.id %}">  <i class="bi bi-pencil-square"></i></a>
                                                                            </td>
                                                                            <td>{{ task.assignee|title }}</td>
                                                                            <td class="muted"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="bottom"
                                                                                data-bs-title="{{ task.start_date|naturaltime }}">
                                                                                {{ task.start_date|date:'m/d/y' }} at <span class="text-capitalize">{{ task.start_date|date:'P' }}</span>
                                                                            </td>
                                                                            <td class="muted"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="bottom"
                                                                                data-bs-title="{{ task.due_date|naturaltime }}">
                                                                                {{ task.due_date|date:'m/d/y' }} at <span class="text-capitalize">{{ task.due_date|date:'P' }}</span>
                                                                            </td>
                                                                            <td>
                                                                                {{ task.status.name }}
                                                                                <a href="{% url 'update_task_status' task.id %}"><i class="bi bi-pencil-square"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                                <tfoot class="text-start">
                                                                    <td>
                                                                        <a href="{% url 'create_task' %}">Create a new task</a>
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td class="text-start">
                                                                        {% if tasks_by_category_count > 0 %}
                                                                            {{ tasks_by_category_count }} remaining
                                                                        {% else %}
                                                                            0 remaining
                                                                        {% endif %}
                                                                    </td>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {# Accordion item for tasks without a category or with a category value of None #}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingNone">
                                                <button class="accordion-button"
                                                        type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseNone"
                                                        aria-expanded="true"
                                                        aria-controls="collapseNone">No Category</button>
                                            </h2>
                                            <div id="collapseNone"
                                                 class="accordion-collapse collapse show"
                                                 aria-labelledby="headingNone">
                                                <div class="accordion-body">
                                                    <table class="table table-light table-striped table-hover table-responsive sortable-table">
                                                        <thead class="text-center">
                                                            <tr>
                                                                <th class="table-primary">Name</th>
                                                                <th class="table-primary">Assignee</th>
                                                                <th class="table-primary">Start</th>
                                                                <th class="table-primary">Due</th>
                                                                <th class="table-primary">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for task in tasks_without_category %}
                                                                <tr class="text-center">
                                                                    <td class="text-start">
                                                                        {{ task.name }} <a href="{% url 'update_task' task.id %}"><i class="bi bi-pencil-square"></i></a>
                                                                    </td>
                                                                    <td>{{ task.assignee|title }}</td>
                                                                    <td class="muted"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        data-bs-title="{{ task.start_date|naturaltime }}">
                                                                        {{ task.start_date|date:'m/d/y' }} at <span class="text-capitalize">{{ task.start_date|date:'P' }}</span>
                                                                    </td>
                                                                    <td class="muted"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        data-bs-title="{{ task.due_date|naturaltime }}">
                                                                        {{ task.due_date|date:'m/d/y' }} at <span class="text-capitalize">{{ task.due_date|date:'P' }}</span>
                                                                    </td>
                                                                    <td>
                                                                        {{ task.status.name }}
                                                                        <a href="{% url 'update_task_status' task.id %}"><i class="bi bi-pencil-square"></i></a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        <tfoot class="text-start">
                                                            <td>
                                                                <a href="{% url 'create_task' %}">Create a new task</a>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text-start">
                                                                {% if tasks_without_category_remaining_count > 0 %}
                                                                    {{ tasks_without_category_remaining_count }} remaining
                                                                {% else %}
                                                                    0 remaining
                                                                {% endif %}
                                                            </td>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col p-3">
                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="h4">This project has no tasks.</h4>
                                        <div class="col p-3">
                                            <a href="{% url 'create_task' %}">
                                                <button type="button" class="btn btn-success">Create a new task</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
