{% comment %} {% if project.tasks.all|length > 0 %}
                                <table class="table table-light table-striped table-hover sortable-table">
                                    <thead class="text-center">
                                        <tr>
                                            <th class="table-primary">Name</th>
                                            <th class="table-primary">Category</th>
                                            <th class="table-primary">Assignee</th>
                                            <th class="table-primary">Start</th>
                                            <th class="table-primary">Due</th>
                                            <th class="table-primary">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tasks in project.tasks.all %}
                                            <tr class="text-center">
                                                <td class="text-start">
                                                    {{ tasks.name }} <a href="{% url 'update_task' tasks.id %}"><i class="bi bi-pencil-square"></i></a>
                                                </td>
                                                <td>{{ tasks.category }}</td>
                                                <td>{{ tasks.assignee|title }}</td>
                                                <td class="muted" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ tasks.start_date|naturaltime }}">
                                                    {{ tasks.start_date|date:'m/d/y' }} at <span class="text-capitalize">{{ tasks.start_date|date:'P' }}</span>
                                                </td>
                                                <td class="muted" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ tasks.due_date|naturaltime }}">
                                                    {{ tasks.due_date|date:'m/d/y' }} at <span class="text-capitalize">{{ tasks.due_date|date:'P' }}</span>
                                                </td>
                                                <td>
                                                    {{ tasks.status.name }}
                                                    <a href="{% url 'update_task_status' tasks.id %}"><i class="bi bi-pencil-square"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot class="text-start text-center">
                                        <td>Tasks: {{ task.all|length }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-start">
                                            {% if remaining_count > 0 %}
                                                {{ remaining_count }} remaining
                                            {% else %}
                                                0 remaining
                                            {% endif %}
                                        </td>
                                    </tfoot>
                            </table>
                </div>
                <div class="row g-2">
                    <div class="col p-2">
                        <h3 class="h3">Project Progress</h3>
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="col p-2">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ progress_percentage }}%" aria-valuenow="{{ progress_percentage }}%" aria-valuemin="0%" aria-valuemax="100%">{{ progress_percentage }}% done</div>
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width:{{ remaining_percentage }}%" aria-valuenow="{{ remaining_percentage }}%" aria-valuemin="0%" aria-valuemax="100%">{{ remaining_percentage }}% remaining</div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col p-3">
                    <div class="alert alert-primary" role="alert">
                        <h4 class="h4">This project has no tasks.</h4>
                        <div class="col p-3">
                            <a href="{% url 'create_task' %}">
                                <button type="button" class="btn btn-success">Create a new task</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
            {% endcomment %}
