{% extends 'base.html' %}

{% block title %}
    Update Project
{% endblock title %}
{% block content %}
    <div class="container fluid">
        <h2>Update Project</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock content %}
